 body {
    overflow-x: hidden;
 }
 a {
     text-decoration: none;
     color: #ccc;
 }

 a:hover {
     text-decoration: none;
     color: #2196F3;
 }

 #navbar ul li {
     margin-left: 15px;
 }

 .top {
     margin-top: -25px;
 }

 .sub-bar {
     width: 100%;
     background-image: linear-gradient(hsla(0, 0%, 100%, .9), hsla(0, 0%, 95%, .9));
     height: 30px;
     margin-top: 51px;
 }

 .row .active {
     font-weight: bold;
 }

 .ml {
     margin-left: 270px;
 }

 .title {
     margin-top: 67px;
 }

 .text-grey {
     color: #66666696 !important;
 }

 .font-size-12 {
     font-size: 12px !important;
 }

 .font-size-14 {
     font-size: 14px !important;
 }

 .font-size-16 {
     font-size: 16px !important;
 }

 .font-size-18 {
     font-size: 18px !important;
 }

 .btn-radius-10 {
     border-radius: 10px;
 }

 .color-green {
     background: rgba(92, 184, 92, .1);
     color: #80a436;
 }

 .color-red {
     background: rgba(217, 83, 79, .1);
     color: #f3837b
 }
 .pane {
    width:102%;
    background: #ffff;
    border-top: 1px solid #e3e3e3;
    box-shadow: 0 -1px 3px rgba(0,0,0,.04);
    height:70px;
    margin-top: 10px;
    position: relative;
 }
 footer {
        border-top: 1px solid #e6e6e6;
 }
 .btn-right {
    float: right;
        margin-right: -163px;
    margin-top: -62px;
 }
 footer ul li {
    margin-left: 60px;
 }
 .left-menu-wrap {
    width: 189px !important;
    margin-left: -15px !important;
 }
 .left-menu-wrap  ul {
    list-style: none;
    margin-left: -42px;
 }
.left-menu-wrap .left-menu-nav li{
    text-align: center;
    position: relative;
    height: 48px;
    border-top: 1px solid #ebebeb;
    line-height: 48px;
}
.left-menu-wrap .left-menu-nav li:hover{
    border:none;
    background: #98afee;
    color:#fff;
}

.left-menu-wrap .left-menu-nav .active,
.left-menu-wrap .left-menu-nav li a:hover{
    background:#98afee;
    color:#fff;
}
.left-menu-wrap .left-menu-nav li a{
    color:#666;
    width: 208px;
    display: block;
}
#bg {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: black;
        z-index: 1666;
        opacity: .30;
    }

    #show {
        display: none;
        position: absolute;
        top: 25%;
        left: 32%;
        width: 33%;
        height: auto;
        padding: 8px;
        z-index: 1777;
        overflow: auto;
    }